@model IEnumerable<Project3.Models.Stat>

@{
    ViewBag.Title = "Index";
}

<h2>Some Stats from the Rugby World Cup 2015.</h2>
<h3> <img src="~/Images/Photo3.jpg" width="1200" height="800" /></h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appereances)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tires)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Player.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appereances)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tires)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StatId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StatId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StatId })
        </td>
    </tr>
}

</table>
